# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE & Editor Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo

# Server & Temporary Logs
*.log
scratch/
tests/scratch/
